body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header{
   background-color: rgb(0, 0, 0);
   color: #fff;
   padding: 10px 0;
}

a{
    color: #fff;
}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   padding: 0 20px;
   max-width: 1200px;
}

.logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}

.nav-links li{
    font-weight: bold;
}

.hero{
    background-image: url(/img/fondo.svg);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero-content h1{
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button{
    background-color: #0059ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.datospersonales>h2{
    text-align: center;
}

.educacion{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.lista{
    display: flex;
    justify-content: space-around;
}

.educacion{
    margin: 20px;
}

.educacion img{
    max-width: 200px;
    margin-bottom: 10px;
}

.nosotros{
    color: #fff;
    background-image: url(/img/img4.svg);
    background-size: cover;
    max-width: auto;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.laboral{
    background-color: rgb(202, 38, 153);
    padding: 40px 0;
    text-align: center;
}
.laboral>h2{
    color: #fff;
}

.laboral{
    margin: 100px;
}

.laboral-slider{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.laborales{
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 5px;
}

.lista2{
    display: flex;
    justify-content: space-around;
}

.laboral img{
    max-width: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.laboral p{
    font-size: 16px;
    margin-bottom: 10px;
}

.proyecto{
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: rgb(247, 243, 243);
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 5px;
}
.proyectos{
    background-color: rgb(168, 168, 167);
    padding: 40px 0;
    text-align: center;
}
.proyectos>h2{
    color: #fff;
}

.proyectos{
    margin: 100px;
}

.proyectos-slider{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.proyectos img{
    max-width: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.proyectos p{
    font-size: 16px;
    margin-bottom: 10px;
}

.client-name{
    font-weight: bold;
    color: #333;
    font-size: 10px;
}
.client-name2{
    font-weight: bold;
    color: #d4d4d4;
    font-size: 10px;
}

.contacto{
    background-color: #f4f4f4;
    padding: 60px 0;
    text-align: center;
    background-color: rgb(247, 243, 243);
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 5px;
}
.cta-button{
    background-color: #ce16ce;
}

form{
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

.form-group{
    text-align: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

label{
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea{
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button{
    background-color: #ce16ce;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: backgroup-color 0.3s ease-in-out;
}

.submit-button:hover{
    background-color: #ce16ce;
}

.footer{
    background-color: #333;
    background-image: url(/img/wave.svg);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}